<!-- <form (ngSubmit)="onSubmit();" [formGroup]="myForm">
  <input placeholder="Project Name" formControlName="name">
  <br><br>
  <input placeholder="Description" formControlName="des">
  <br><br>
  <button>Add</button>
</form> -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="onSubmit();" [formGroup]="myForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Project Name</label>
          <input formControlName="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter Project Name">
          <small id="emailHelp" class="form-text text-muted">The name of the project to distinguish your project</small>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Project Description</label>
          <textarea 
          formControlName="des"
          class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <button class="btn btn-success" [disabled]="!myForm.valid">Create Project</button>
      </form>
    </div>
  </div>
</div>