<div class="container-fluid">
    <div class="row">
        <br><br>
        <div class="col-md-6">
            
            <div class="divTitle">PROJECT MEMBERS</div> 

            <hr>
            <div class="divTutorial">Click on the member to REMOVE from the project</div>
            <hr>
            <app-list-user-infor></app-list-user-infor>
        </div>
        <div class="col-md-6">
            <div class="divTitle">MEMBERS CAN ADD TO PROJECT</div> 
            <hr>
            <div class="divTutorial">Click on the member to ADD to the project</div>
            <hr>
            <app-list-member-not-project></app-list-member-not-project>
        </div>
    </div>
</div>